@{
    ViewBag.Title = "Интересно";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var b in ViewBag.Medias) { 

    <div id="media">
        <div id ="title">
            <p><h2>@b.title</h2>></p>
        </div>
        <div>
            <p><h3>@b.description</h3>></p>
        </div>
        <p><h4><a href=@Url.Action("Media", new { id = b.Id })>Читать статью</a></h4></p>
    </div>


}
<iframe width="640" height="360" src="https://www.youtube.com/embed/A8udSRdXNi8" frameborder="0" allowfullscreen></iframe>