<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://philosophy-club.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>philosophy-club.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>philosophy-club</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$philosophy-club</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PhClub.Models.EventsContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:phclub.database.windows.net,1433;Initial Catalog=phclub;User ID=Admin77@phclub.database.windows.net;Password=18Nov7777" Name="Data Source=tcp:phclub.database.windows.net,1433;Initial Catalog=phclub;User Id=Admin77@phclub.database.windows.net;Password=18Nov7777" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="PhClub.Models.EventsContext, PhClub" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:phclub.database.windows.net,1433;Initial Catalog=phclub;User ID=Admin77@phclub.database.windows.net;Password=18Nov7777" Name="Data Source=tcp:phclub.database.windows.net,1433;Initial Catalog=phclub;User Id=Admin77@phclub.database.windows.net;Password=18Nov7777" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="PhClub.Models.ApplicationDbContext, PhClub" MigrationConfiguration="PhClub.Migrations.Configuration, PhClub" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PhClub" Order="3" Enabled="True">
          <Destination Path="Data Source=tcp:phclub.database.windows.net,1433;Initial Catalog=phclub;User ID=Admin77@phclub.database.windows.net;Password=18Nov7777" Name="Data Source=tcp:phclub.database.windows.net,1433;Initial Catalog=phclub;User Id=Admin77@phclub.database.windows.net;Password=18Nov7777" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:phclub.database.windows.net,1433;Initial Catalog=phclub;Persist Security Info=False;User ID=Admin77;Password=18Nov7777;Connect Timeout=120;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PhClub_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:phclub.database.windows.net,1433;Initial Catalog=phclub;Persist Security Info=False;User ID=Admin77;Password=18Nov7777;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=120" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:phclub.database.windows.net,1433;Initial Catalog=phclub;User Id=Admin77@phclub.database.windows.net;Password=18Nov7777</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PhClub-Web.config Connection String">
      <ParameterValue>data source=tcp:phclub.database.windows.net,1433;initial catalog=phclub;user id=Admin77@phclub.database.windows.net;password=18Nov7777;MultipleActiveResultSets=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PhClub.Models.EventsContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:phclub.database.windows.net,1433;Initial Catalog=phclub;User Id=Admin77@phclub.database.windows.net;Password=18Nov7777</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="PhClub.Models.EventsContext" />
  </ItemGroup>
</Project>