
@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<address>
    По всем вопросам обращайтесь:<br />
    <abbr title="Ирландия">:Mобильный</abbr>
    +353851554306
</address>

<address>
    <a href="mailto:mgphclub@gmail.com">mgphclub@gmail.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>