@{
    ViewBag.Title = "Главная страница";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Главное</h1>
<p class="lead">Философский клуб Синтеза Европы, состоит из представителей многих стран Европы: Германия, Италия, Франция, Чехия, Ирландия, Литва, Латвия и другие. Список постоянно дополняется ввиду популярности и востребованности того, что несет это людям.Вэтих странах постоянно происходят события, интересные для участия, большая часть из которых совершенна бесплатна и проводится для желающих участвовать. </p>



@*<p class="lead"><h2><a href="~/Home/Event/1">8 Философские Чтения Синтеза, Германия</a></h2></p>*@
@*<p class="lead" > Первые 3 часа в субботу 1 апреля возможно бесплатное посещение Чтений для знакомства с Философией Синтеза.</p>*@

<p class="lead">Философские Чтения Синтеза — это программа развития современного цивилизованного человека. </p>

<p class="lead">Приглашаем всех интересующихся! </p>
<a href="~/Home/EventsMain">Перейти к просмотру событий</a>

