
@{
    ViewBag.Title = "Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>@Html.ActionLink("Управление новостями", "Index","Medias")</div>
<div>@Html.ActionLink("Управление мероприятиями", "Index", "Events")</div>
@*<div>@Html.ActionLink("Управление видео новостями", "Index", "Videos")</div>*@



