
@{
    ViewBag.Title = "Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>@Html.ActionLink("Добавить новость", "Create","Medias")</div>
<div>@Html.ActionLink("Добавить мероприятие", "Create", "Events")</div>

